  .menu{
                height:36px;
                width: auto;
               
            }
             .menu1{
                height:56px;
                width: auto;
                background-color: #BB1919;
                 margin-top: 6px;
            }
            
            .red-bar{
                height: 40px;
                width: auto;
                background-color: #A91717;
            }
            .technology{
                height:63px;
                width: auto;
                
            }
            #asda{
                display: inline-block;
                 height:350px;
                width: 865px;
                border-right: 1px #CCCCCC solid;
               
            }
            #watch{
               display: inline-block;
               
                width: 430px;
                height: 500px;
                margin-left: 20px;
                float: right;
            }
            #clock{
                height: 20px;
                width: 150px;
                 border-right: 1px #CCCCCC solid;
               
            }
            body{
                margin:0;
                padding:0;
                font-family: "Helvetica", Arial, sans-serif;
            }
            p{
                margin: 0;
                padding: 0;
            }
            .align-left{
                float: left;
                
               
            }
            
            .sign-in{
                
                padding: 11px 85px 11px 43px;
                text-align: center;
                
                
                
            }
            a:visited,a:hover,a:link{
                text-decoration: none;
                color: black;
            }
            .empty{
              width: 44px;
                height: 42px;
           
            }
            .border-left{
                 border-left:1px #CCCCCC solid; 
            }
            .border-right{
                border-right:1px #CCCCCC solid;
            }
            .pad-all{
                padding: 11px;
               
               height: 20px;
                text-align: center;
                
                
            }
            #news{
                
                font-size: 250%;
                color: white;
                margin-left: 177px;
               margin-top: 3px;
            }
            #empty{
                width: 605px;
                height:56px;
            }
            #local{
                font-size:200%;
                color: white;
                margin-top: 10px;
                margin-bottom: 13px;
                
            }
            #local:hover{
                text-decoration: underline;
            }
            #location{
                margin-top: 10px;
                margin-bottom: 13px;
                margin-left: 7px;
            }
            #border_local{
                margin-top: 2px;
                margin-bottom: 1px;
                
                height: 50px;
                width: inherit;
                
                border:1px white solid;
            }
            
            #home{
                margin-left: 100px;
               
                }
            #blue-link{
                margin-left: 50px;
            }
            #blue-link:hover{
                color: blue;
                
            }
            #blue{
                margin-left: 70px;
                margin-top: 0px;
            }
            #asda-text{
                margin-left: 70px;
                margin-right: 500px;
               
                position: relative;
            }
            .hover-v:hover{
                color: blue;
            }
            .image-size{
                width: 120px;
                height: 70px;
            }
            .cl{
                clear: both;
            }